@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@font-face {
    font-family: "Dagsen_Inked";
    src: local("Dagsen_Inked"),
    url(../fonts/Dagsen_Inked.otf) format("opentype")
  }
  @font-face {
    font-family: "big_noodle_titling";
    src: local("big_noodle_titling"),
    url(../fonts/big_noodle_titling.ttf) format("truetype")
  }

.hangry-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.hangry-app-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 1rem auto;
    padding: 1rem;
}

.app-title {
    font-family: Dagsen_Inked, Helvetica, Arial;
    font-size: 5rem;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
}

.app-tagline {
    font-family: big_noodle_titling, Helvetica, Arial;
    text-align: center;
    max-width: 100%;
    font-size: 2rem;
}

.app-logo {
    max-width: 300px;
    margin-bottom: .5rem;
    padding: .5rem;
}

@media (max-width: 900px) {
    .hangry-app-header {
        width: 80%;
    }
    .app-title {
        font-size: 3rem;
    }
}

@media (max-width: 520px) {
    .hangry-app-header {
        width: 95%;
    }
    .app-title {
        font-size: 2rem;
    }
    .app-tagline {
        font-size: 1rem;
    }
    .app-logo {
        max-width: 200px;
    }
}