@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@font-face {
    font-family: "Dagsen_Inked";
    src: local("Dagsen_Inked"),
    url(./fonts/Dagsen_Inked.otf) format("opentype")
  }
  @font-face {
    font-family: "big_noodle_titling";
    src: local("big_noodle_titling"),
    url(./fonts/big_noodle_titling.ttf) format("truetype")
  }

.hangry-app {
    font-family: 'Poppins', sans-serif;
}

.hangry-app-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 1rem auto;
    padding: 1rem;
}

.app-title {
    font-family: Dagsen_Inked, Helvetica, Arial;
    font-size: 5rem;
    margin: 0 auto;
}

.app-tagline {
    font-family: big_noodle_titling, Helvetica, Arial;
}

.app-logo {
    max-width: 300px;
    margin-bottom: 1rem;
}